body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    max-width: 1600px;
    margin: 0 auto;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn-green{
    padding: 12.5px 16px;
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    /* align-items: center; */
}
.btn-green:hover{
    background: rgb(3, 67, 3);
    transform: scale(1.05);

    /* problem */
}
.btn:hover{
    background: rgb(21, 145, 21);
    transform: scale(1.05);
}
.button{
    padding: 12.5px 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid rgb(170, 166, 166);
    background: transparent;
    cursor: pointer;

}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.navigation img{
    /* border: 16px 0; */
    /* max-width: 139px; */
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
}
#banner-parent{
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 674px;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green{
    color: #30B868;
}
.banner-container{
    text-align: center;
       margin: auto;
    max-width: 770px;
    
}
.banner-container h1 {
    font-size: 72px;
    margin-bottom: 16px;
}
.banner-container paragraph {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}
.banner-container .early-access{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
    background: white;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    color: #469165;
    padding: 8px 12px;
    margin: auto;
    
}
.note-section-container{
    /* max-width: 1360px; */
    /* padding-top: 0px; */
    /* margin: 0 auto; */
    margin-bottom: 120px;

     
}
.note-section-container .note-section-header{
 text-align: center;
    padding-top: 66px;
    /* padding-bottom: 44px; */
    margin-bottom: 44px;

}
.note-section-header h1{
    font-size: 48px;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(249, 85, 85, 1);
    color: #FFFFFF;
}
.note-section-container .note-box{
    display: flex;
    gap: 16px;
    border-radius: 8px;
    background-color: #FFFFFF;
    /* border: 8px; */
    /* padding: 24px; */
}
.note-box .note-card{
   box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    padding: 70px 24px;
    text-align: center;
}

.note-box .note-card .circle {
    margin-bottom: 16px;
}

.note-box .note-card h2{
    margin-bottom: 16px;
}
.brain-section{
    display: flex;
    gap: 60px;
    border-bottom: 120px;
}

.brain-sec-img{
    flex: 1;
}

.brain-sec-img img {
    width: 100%;
  
}

.ideas {
    display: flex;
    gap: 6px;
    align-items: center;
}


.brain-section .problem-solution-process{
    margin: auto 0;
        flex: 1.5;
}
.solution-process h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
    /* line-height: 58px; */
}
.solution-process .solution-description{
    margin-bottom: 44px;
}


.challenge{
    max-width: 1360px;
    text-align: center;
    padding: 80px 40px;
    background: rgba(247, 246, 242, 1);
    border-radius: 12px;
    margin-bottom: 120px;
}
.challenge h2{
    font-size: 40px;
    margin-bottom: 16px;
}
.challenge .challenge-head p{
    margin-bottom: 24px;
}
.challenge .challenge-body p{
    margin-top: 16px;
}

footer{
    /* align-items: center; */
    padding: 120px 120px 30px;
    background-color: #001931;
}
.footer-hed{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 80px;
    color: white;
}
footer .copy-section{
    text-align: center;
    color: white;
}
.social-site{
    display: flex;
    gap: 16px;
}
.footer-hed p{
    margin-bottom: 16px;
    font-size: 20px;
}